<div class="md:hidden fixed flex w-full justify-between px-6 py-8 text-">
    <a href=""><img class=" h-full" src="/assets/images/logo.svg" alt="">
    </a>
    <div>
        <a href="">
            <img class="burger" src="/assets/images/icon-hamburger.svg" alt="">
        </a>
    </div>


</div>
<nav class="fixed hidden top-30 bg-white1 text-grey600 w-[90%] py-4 gap-8 flex flex-col justify-center items-center md:hidden">
    <a href="">About</a>
    <a href="">Services</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
</nav>
<div class="hidden fixed w-full md:flex md:justify-between px-8 py-12">
    <a href="">
        <img class=" h-full" src="/assets/images/logo.svg" alt="">
    </a>

    <nav class="flex gap-6 text-white1">
        <a href="">About</a>
        <a href="">Services</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
    </nav>
</div>